n8n/workflow-distribuidores-vitamindorgan.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        80
      ],
      "id": "3532951c-53af-458f-8295-23198364cdf4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qDVArHQMy5gku9RVP1iIjmYU5Ulu6pSxBrkOuU-LJDc",
          "mode": "list",
          "cachedResultName": "Vitamindorgan - Distribuidores (activos/inactivos)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qDVArHQMy5gku9RVP1iIjmYU5Ulu6pSxBrkOuU-LJDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "distribuidores.vitamindorgan.com",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qDVArHQMy5gku9RVP1iIjmYU5Ulu6pSxBrkOuU-LJDc/edit#gid=0"
        },
        "options": {}
      },
      "name": "Get Sheet Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "6cd64eba-0e85-496d-9cd2-23d221756789",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LPf4qZBpPvUSzo8f",
          "name": "diseno4.impulsomarketing@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getAll",
        "limit": 100,
        "options": {
           "fields": ["id", "email", "username", "name"]
        }
      },
      "name": "Get All WP Users",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "070fe500-e3f3-401f-aca3-aab62797ab60",
      "credentials": {
        "wordpressApi": {
          "id": "kptrKUCVB9u1cmjf",
          "name": "https://distribuidores.vitamindorgan.com/"
        }
      }
    },
    {
      "parameters": {},
      "name": "Wait Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        256,
        112
      ],
      "id": "1f5f4aca-604c-452e-95e9-e65d4ae8dad0"
    },
    {
      "parameters": {
        "jsCode": "// Access data from the two inputs explicitly\nconst sheetUsers = $('Get Sheet Users').all();\nconst wpUsers = $('Get All WP Users').all();\n\n// Create a set of existing emails for fast lookup\nconst existingEmails = new Set(wpUsers.map(u => (u.json.email ? u.json.email.toLowerCase() : '')));\n\nconst newUsers = [];\n\nfor (const item of sheetUsers) {\n  // 1. Get Email (Robust check)\n  const rawEmail = item.json.Correo || item.json.Email || item.json.email;\n  if (!rawEmail || rawEmail.toString().trim() === '') continue;\n  \n  const email = rawEmail.toString().trim().toLowerCase();\n  \n  // 2. Check if exists\n  if (existingEmails.has(email)) {\n    continue; // Skip existing\n  }\n  \n  // 3. Prepare Name\n  // Try 'Nombre', 'Name', or composite fields if needed\n  const fullName = (item.json.Nombre || item.json.Name || item.json.First_Name || '').toString().trim();\n  const nameParts = fullName.split(' ');\n  const firstName = nameParts[0] || '';\n  const lastName = nameParts.length > 1 ? nameParts.slice(1).join(' ') : '';\n  \n  // 4. Prepare Password\n  // Logic: Try to find a unique ID (Telefono, Celular, ID, etc.)\n  // If not found, fall back to a default format\n  let password = 'Distribuidor2026!'; \n  const idCandidates = [item.json['ID'], item.json['id'], item.json['Telefono'], item.json['Celular'], item.json['Movil'], item.json['N° de alumno']];\n  const foundId = idCandidates.find(val => val !== undefined && val !== null && val.toString().trim() !== '');\n  \n  if (foundId) {\n    password = foundId.toString().trim();\n  }\n\n  newUsers.push({\n    json: {\n      email: rawEmail.toString().trim(),\n      username: rawEmail.toString().trim(),\n      name: fullName,\n      first_name: firstName,\n      last_name: lastName,\n      password: password\n    }\n  });\n}\n\nreturn newUsers;"
      },
      "name": "Filter New Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        112
      ],
      "id": "b59a43b1-1985-4f6a-9526-f0a694397041"
    },
    {
      "parameters": {
        "resource": "user",
        "username": "={{ $json.username }}",
        "name": "={{ $json.name }}",
        "firstName": "={{ $json.first_name }}",
        "lastName": "={{ $json.last_name }}",
        "email": "={{ $json.email }}",
        "password": "={{ $json.password }}",
        "additionalFields": {
          "roles": "subscriber"
        }
      },
      "name": "Create User",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        688,
        112
      ],
      "id": "3952cf31-045c-478f-901e-9e2c400822d6",
      "credentials": {
        "wordpressApi": {
          "id": "kptrKUCVB9u1cmjf",
          "name": "https://distribuidores.vitamindorgan.com/"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Sheet Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All WP Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheet Users": {
      "main": [
        [
          {
            "node": "Wait Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All WP Users": {
      "main": [
        [
          {
            "node": "Wait Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait Both": {
      "main": [
        [
          {
            "node": "Filter New Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Users": {
      "main": [
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3a54f9858961d6a8de3ba4e915ac8d0e4ae80bcd3db7f786bb8f5b77301d8dd3"
  }
}
